@model MVC.Models.Views.AddUser

<div class="section-form-add">
    @using (Html.BeginForm("Create", "Utilisateur", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Utilisateur</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.LastName, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Nom" } })
                        @Html.LabelFor(model => model.Utilisateur.LastName)
                        @Html.ValidationMessageFor(model => model.Utilisateur.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.FirstName, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Prénom" } })
                        @Html.LabelFor(model => model.Utilisateur.FirstName)
                        @Html.ValidationMessageFor(model => model.Utilisateur.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.PsW, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Mot de passe" } })
                        @Html.LabelFor(model => model.Utilisateur.PsW)
                        @Html.ValidationMessageFor(model => model.Utilisateur.PsW, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.ConfirmPsW, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Mot de passe" } })
                        @Html.LabelFor(model => model.Utilisateur.ConfirmPsW)
                        @Html.ValidationMessageFor(model => model.Utilisateur.ConfirmPsW, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.Email, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Email" } })
                        @Html.LabelFor(model => model.Utilisateur.Email)
                        @Html.ValidationMessageFor(model => model.Utilisateur.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.ConfirmEmail, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Email" } })
                        @Html.LabelFor(model => model.Utilisateur.ConfirmEmail)
                        @Html.ValidationMessageFor(model => model.Utilisateur.ConfirmEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.Phone, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Tel" } })
                        @Html.LabelFor(model => model.Utilisateur.Phone)
                        @Html.ValidationMessageFor(model => model.Utilisateur.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Utilisateur.Birthdate, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Date" } })
                        @Html.LabelFor(model => model.Utilisateur.Birthdate)
                        @Html.ValidationMessageFor(model => model.Utilisateur.Birthdate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-label-group">
                        @Html.DropDownListFor(model => model.Utilisateur.statut.Id, new SelectList(Model.Statuts, "Id", "StatutName"), "Choisir un statut", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(model => model.Utilisateur.statut.Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="float-right">
                    <input type="submit" value="Ajouter" class="btn btn-success btn-block" />
                    @*<input type="reset" value="Reset" class="btn btn-secondary" />*@
                </div>
            </div>
        </div>
    }
</div>