@model MVC.Models.Evenement

<div>
    <div class="EventDetails">
        <address class="jumbotron addressEvent">
            @Html.DisplayFor(model => model.DateEvent)<br />
            <strong>@Html.DisplayFor(model => model.EventPlace.PlaceName)</strong><br />
            @Html.DisplayFor(model => model.EventPlace.Street) @Html.DisplayFor(model => model.EventPlace.Number),<br />
            @Html.DisplayFor(model => model.EventPlace.PLocality.CP) @Html.DisplayFor(model => model.EventPlace.PLocality.LocalityName)<br />
            @Html.DisplayFor(model => model.EventPlace.PLocality.LCountry.CountryName)
        </address>
        <div class="desc">
            @Html.DisplayFor(model => model.EventDesc)
        </div>
    </div>
    <button onclick="location.href='/Evenement/Index'" type="button" class="btn btn-outline-info"> <i class="far fa-arrow-alt-circle-left"></i> Retour aux évènements</button>
</div>
