@model IEnumerable<MVC.Models.Views.ListEventSocietyUser>

@{
    ViewBag.Title = "ListSociety";
}

@foreach (var item in Model)
{
    <article class="cards enterprise">
        <img class="cards-img-top rounded-circle" src="~/Img/mdr.jpg" alt="Card image cap">
        <div class="cards-body">
            <h5 class="cards-title">
                <a href="#detailsModal" data-toggle="modal" data-target="#detailsModal" data-id="1" class="open-DetailsSocietyDialog">
                    @Html.DisplayFor(model => item.SocietyEvent.SocietyName)
                </a>
            </h5>


            <p class="cards-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum nunc id ipsum pretium dignissim. Donec eu velit mi. Pellentesque semper tristique molestie. Cras feugiat viverra vehicula. Maecenas nec suscipit diam. Nulla eget iaculis nisl. In ac bibendum mauris. Praesent gravida, justo aliquam hendrerit sollicitudin, eros felis malesuada orci, sit amet aliquet massa justo ac ipsum. Quisque euismod tincidunt pellentesque. Vivamus ullamcorper metus ac ullamcorper rutrum.

                Pellentesque semper euismod sagittis. Vestibulum tincidunt nisi nec sodales volutpat. Integer convallis non urna sed rutrum. Curabitur elementum iaculis velit. Nullam nisl mi, cursus non mauris vitae, luctus accumsan libero. Suspendisse lacus urna, eleifend id nisl eget, accumsan tempus risus. In nec dictum elit.
            </p>
            <button onclick="location.href='@Url.Action("Index", "Utilisateur")'" type="button" class="btn btn-outline-info">
                <i class="fas fa-globe"></i> Website
            </button>
        </div>
        <footer class="cards-footer">
            <ul class="list-group">
                @foreach (var t in item.UtilEvent)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img class="cards-img-footer rounded-circle" src="~/Img/mdr.jpg" alt="Card image cap">
                        <p class="cards-footer-p">@Html.DisplayFor(model => t.FirstName)</p>

                        <div class="btn-group btn-block">
                            <button onclick="location.href='@Url.Action("Index", "Utilisateur")'" type="button" class="btn btn-outline-info"> <i class="far fa-calendar-alt"></i>    </button>
                            <button onclick="location.href='@Url.Action("Index", "Utilisateur")'" type="button" class="btn btn-outline-info"> <i class="far fa-comments"></i>    </button>
                            <button onclick="location.href='@Url.Action("Detail", "Utilisateur")'" type="button" class="btn btn-outline-info"> <i class="far fa-address-card"></i>    </button>
                        </div>
                    </li>
                }
            </ul>
        </footer>
    </article>
}






@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(Model => Model.SocietyEvent.SocietyName)
        </th>
        <th class="text-center">
            Utils
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.SocietyEvent.SocietyName)
            </td>
            <td>
                @foreach (var t in item.UtilEvent)
                {
                    <p>@Html.DisplayFor(model => t.FirstName)</p>

                }
            </td>
        </tr>
    }

</table>*@
