@model MVC.Models.Views.AddListSociety

<div class="">
    @using (Html.BeginForm("Edit", "Society", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="table-responsive">
                    <div class="modal-header">
                        <h5 class="modal-title">Modification</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ajoutSociety.addSociety.Id)

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.SocietyName, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Société" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.SocietyName)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.SocietyName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.WebSite, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "WebSite" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.WebSite)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.WebSite, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.SocietyDesc, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Description" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.SocietyDesc)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.SocietyDesc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.SocietyTinyDesc, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Description(courte)" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.SocietyTinyDesc)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.SocietyTinyDesc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.Img, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Image" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.Img)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.Img, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.Phone, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Téléphone" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.Phone)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.Street, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Rue" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.Street)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.Street, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.ajoutSociety.addSociety.Number, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Numéro" } })
                                    @Html.LabelFor(model => model.ajoutSociety.addSociety.Number)
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.Number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.DropDownListFor(model => model.ajoutSociety.addSociety.LLoc.Id, new SelectList(Model.ajoutSociety.Localities, "Id", "LocalityName"), "Choisir une Localité", new { @class = "form-control col-12" })
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.Localities, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.DropDownListFor(model => model.ajoutSociety.addSociety.Boss.Id, new SelectList(Model.ajoutSociety.Utilisateurs, "Id", "LastName"), "Choisir un Boss", new { @class = "form-control col-12" })
                                    @Html.ValidationMessageFor(model => model.ajoutSociety.addSociety.Boss.Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="float-right">
                                <input type="submit" value="Modifier" class="btn btn-success btn-block" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

