@model MVC.Models.Views.AddListSociety

@{
    ViewBag.Title = "Index";
}


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lister</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Ajouter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(Model => Model.ajoutSociety.addSociety.SocietyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.ajoutSociety.addSociety.WebSite)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.ajoutSociety.addSociety.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.ajoutSociety.addSociety.Boss.LastName)
                        </th>
                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model.listSociety)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SocietyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WebSite)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Boss.LastName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            <button data-toggle="modal" data-target="#detailsModal" data-id="@item.Id" type="button" class="open-DetailsSocietyDialog btn btn-info"> <i class="far fa-address-card"></i></button>
                            <button data-toggle="modal" data-target="#deleteModal" data-id="@item.Id" type="button" class="open-DeleteSocietyDialog btn btn-danger">  <i class="far fa-trash-alt"></i> </button>
                        </td>
                    </tr>
                 }
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        @*@Html.Partial("_Create", Model.ajoutUser)*@
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">addadd.</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete this Society?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back to List</button>
                <button id="DeleteButton" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSociety" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalSocietyContent'></div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}