@using MVC.Models.Views;
@using MVC.Utils;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/dynatable")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://unpkg.com/popper.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        @Html.ActionLink("SwapCard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarsExample04" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Evenements", "Index", "Evenement", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
            <ul class=" my-3 my-md-0 navbar-nav">
                @if (UserSession.CurrentUser != null && UserSession.CurrentUser.statut.StatutName == "Admin")
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
                            @Html.ActionLink("Utilisateur", "Index", "Utilisateur", new { area = "" }, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Society", "Index", "Society", new { area = "" }, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Participant", "Participant", "Utilisateur", new { area = "" }, htmlAttributes: new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                @if (UserSession.CurrentUser == null)
                {
                    <li class="nav-item">
                        <button class="btn btn-outline-info my-2 my-sm-0" onclick="location.href='@Url.Action("Inscription", "Utilisateur")'">Inscription</button>
                        <button class="btn btn-outline-info my-2 my-sm-0" data-toggle="modal" data-target="#LoginModal" type="submit">Se connecter</button>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="/Home/Messages" class="nav-link">
                            <i class="far fa-comment"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="Notifs" class="nav-link">
                            <i class="far fa-bell"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-info my-2 my-sm-0" onclick="location.href='@Url.Action("Edit", "Home", new { id = UserSession.CurrentUser.Id })'">Profil</button>
                        <button class="btn btn-outline-info my-2 my-sm-0" onclick="location.href='@Url.Action("Deconnexion", "Home")'">Deconnexion</button>
                    </li>
                }
            </ul>


        </div>
    </nav>

    @Html.Partial("_LogIn", new LogIn())

    <div class="container body-content">
        @RenderBody()
    </div>
    <div style="display:none" class="alert_list">
        <ul class="unstyled">
            <li data-alert_id="1" class="alert_li">
                <a href="#" class="alert_message"><i class="far fa-comment"></i> Nouveau message de Adnet</a>
            </li>
            <li data-alert_id="2" class="alert_li">
                <a href="#" class="alert_message"><i class="far fa-calendar-alt"></i> Nouveau RDV par Fontesse</a>
            </li>
            <li data-alert_id="3" class="alert_li">
                <a href="#" class="alert_message"><i class="far fa-comment"></i> Nouveau message de Brasseur</a>
            </li>
        </ul>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)


    @*Si erreur de log réafiche la modal avec les erreurs*@
    @if (ViewBag.CodeErrorConnection == 1)
    {
        <script>
            $('#LoginModal').modal('show')
        </script>
    }   
</body>
</html>
